*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-align-center{
    display: flex;
    align-items: center;
    gap: 5px;
}

.justify-space-between{
    justify-content: space-between;
}

#app{
    height: 100vh;

    padding: 50px 100px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    display: flex;

    border: 2px solid black;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
}

.contacts,
.chat{
    display: flex;
    flex-direction: column;
}

.contacts > *,
.chat > *{
    padding: 0 10px;
}

/* ASIDE */

.tool-bar{
    min-height: 60px;

    background-color: rgb(236,229,221);
    border-right: 2px solid gray;
}

.my-contact img{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 999px;
}

.tool-bar__icons{
    gap: 12px;

    color: gray;
}

.search-bar{
    min-height: 40px;
}

.contact{
    padding: 7px;
}

.contact__img img{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 999px;
}

/* MAIN */

.chat__tool-bar,
.text-box{
    min-height: 60px;

    background-color: rgb(236,229,221);
}

.selected-contact img{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 999px;
}

.chat__tool-bar__icons{
    gap: 12px;

    color: gray;
}

.selected-chat{
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 20px 80px;

    background-image: url(../img/mine.jpg);
}

.selected-chat > *{
    width: 40%;

    padding: 10px 10px;
    border-radius: 10px;
}

.user-message{
    align-self: flex-end;
    background-color: rgb(220,248,198);
}

.contact-message{
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
}




/* DEBUG */
.debug #app{
    background-color: tomato;
    padding: 20px;
}

.debug .container{
    border: 2px solid blanchedalmond;
    padding: 20px;
    height: 90vh;
}

.debug .contacts{
    border: 2px solid greenyellow;
    padding: 20px;
}

.debug .chat{
    border: 2px solid greenyellow;
    padding: 20px;
}

.debug .chat__tool-bar,
.debug .selected-chat,
.debug .text-box,
.debug .tool-bar,
.debug .search-bar,
.debug .contacts__list{
    border: 2px solid cornflowerblue;
    padding: 20px;
}