*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-align-center{
    display: flex;
    align-items: center;
    gap: 5px;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

#app{
    height: 100vh;
    overflow: hidden;

    padding: 50px 100px;

    background: rgb(7,94,84);
    background: -moz-linear-gradient(180deg, rgba(7,94,84,1) 22%, rgba(215,210,205,1) 22%);
    background: -webkit-linear-gradient(180deg, rgba(7,94,84,1) 22%, rgba(215,210,205,1) 22%);
    background: linear-gradient(180deg, rgba(7,94,84,1) 22%, rgba(215,210,205,1) 22%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#075e54",endColorstr="#d7d2cd",GradientType=1);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    display: flex;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
}

.contacts,
.chat{
    display: flex;
    flex-direction: column;
}

.contacts > *,
.chat > *{
    padding: 0 10px;
}

/* ASIDE */

.tool-bar{
    min-height: 60px;

    background-color: rgb(236,229,221);
    border-right: 1px solid rgb(206, 201, 201);
}

.my-contact img{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 999px;
}

.tool-bar__icons{
    gap: 12px;

    color: gray;
}

.search-bar{
    min-height: 40px;

    background-color: white;
    border-bottom: 1px solid rgb(206, 201, 201);
}

.input-group{
    width: 100%;
    position: relative;
}

.group-icon{
    position: absolute;
    top: 3px;
    left: 20px;

    color: gray;
}

.input-group input{
    width: 100%;
    padding: 4px 0;
    padding-left: 50px;

    border: 1px solid rgb(206, 201, 201);
    border-radius: 5px;
}

.contacts__list{
    background-color: white;
    overflow-y: scroll;
}

.contact:hover{
    background-color: rgba(95, 94, 94, 0.2);
}

.contact{
    padding: 7px;
}

.contact__img img{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 999px;
}

.contact__name p{
    font-size: 12px;
}

/* MAIN */

.chat__tool-bar,
.text-box{
    min-height: 60px;

    background-color: rgb(236,229,221);
}

.chat__tool-bar{
    border-left: 1px solid rgb(206, 201, 201);
}

.selected-contact img{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 999px;
}

.chat__tool-bar__icons{
    gap: 12px;

    color: gray;
}

.selected-chat{
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 20px 80px;

    background-image: url(../img/mine.jpg);
}

.selected-chat > *{
    width: 40%;

    padding: 10px 10px;
    border-radius: 10px;
}

.user-message{
    align-self: flex-end;
    background-color: rgb(220,248,198);
}

.contact-message{
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
}

.text-box input{
    width: 80%;
    padding: 10px 15px;

    border-radius: 5px;
    border: none;
}

.text-box i{
    color: gray;
}


/* DEBUG */
.debug #app{
    background-color: tomato;
    padding: 20px;
}

.debug .container{
    border: 2px solid blanchedalmond;
    padding: 20px;
    height: 90vh;
}

.debug .contacts{
    border: 2px solid greenyellow;
    padding: 20px;
}

.debug .chat{
    border: 2px solid greenyellow;
    padding: 20px;
}

.debug .chat__tool-bar,
.debug .selected-chat,
.debug .text-box,
.debug .tool-bar,
.debug .search-bar,
.debug .contacts__list{
    border: 2px solid cornflowerblue;
    padding: 20px;
}